@import "utilities/variables";

@import "general/reset";
@import "general/tipografia";

@import "layout/header";
@import "layout/main";
@import "componentes/carousel";
@import "layout/footer";


@import "pages/hombre";
@import "pages/index";
@import "pages/contacto";
@import "pages/galeria";
@import "pages/mujer";
@import "pages/chicos";
@import "pages/carrito";
