.formulario {
    margin: 20px;
    display: flex;
    justify-content: center;
  padding: 30px;
  }
  
  .formulario label {
    background-color: green;
    display: flex;
    margin: 20px 0;
  }
  section.formulario {
    margin: 0%;
  }
.contenedor{
    background-image: url(../img/fondodeweb.jpg);
}
.tituloContacto{
  display: flex;
  text-align: center;
  justify-content: center;
  color: antiquewhite;
}
.textoContacto{
  display: flex;
  text-align: center;
  padding: 20px;
  justify-content: center;
  color: red;
  font-size: larger;
  font-weight: 400;
  background-color: antiquewhite;
}


  