.bannerMujer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
}
.tituloMujer{
    text-align: center;
    color: antiquewhite;
    padding: 25px;
}
.remeraMujer{
    padding: 20px;
}
.conjuntoMujer{
    padding: 20px;
}
.buzoMujer{
    padding: 20px;
}
